footer {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    gap: 20px;  
    width: 100%; 
}

footer h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}

.contact-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.contact-header {
    margin-bottom: 10px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    text-align: left;  
}

.center-text {
    text-align: center; 
}

.email-link {
    text-decoration: underline;
    color: #c9c9c9;
}

.social-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.social-item {
    margin: 0 10px;
}

.social-link {
    border: 1px solid;
    padding: 10px;
}

.social-network-name {
    display: none;
}

.linkedin {
    background-color: #0077b5;
}

.facebook {
    background-color: #3b5998;
}
