header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  position: relative;  
}

#title {
  font-size: 2rem;
  color: white ;
  font-weight: bold;
  margin: 0;
  text-align: center;
  flex-grow: 1; 
}

#title:hover {
  color:  #e67e22 ;
}

nav {
  position: absolute;  
  top: 10px;
  right: 20px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;  
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #e67e22;  
}
